* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* !!!!!!!!!!!!!!!!!!!!!!!! NAVIGATION BAR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.navigation-bar {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.background-filter {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(61, 61, 61));
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: -1;
  opacity: 0.9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
}

.logo-container,
.contacts {
  display: flex;
}

.logo-container {
  top: 20px;
  left: 5%;
  font-style: italic;
  font-weight: 800;
  flex: 1.7;
  margin-left: 7%;
}

.training {
  background: linear-gradient(to right, rgb(133, 133, 133), rgb(245, 245, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.studio {
  background: linear-gradient(to right, rgba(218, 62, 14), rgb(221, 46, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  flex: 1.4;
}
.contacts {
  justify-content: space-around;
  list-style: none;
  margin-right: 8%;
}

.contacts li:hover {
  color: rgb(221, 46, 3);
}

.contacts li {
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  transition: 0.05s;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(221, 46, 3);
}
.sign-up {
  box-sizing: border-box;
  position: relative;
  background: rgb(221, 46, 3);
}
.sign-up:hover {
  background: rgb(27, 27, 27);
  transition: 0.1s;
}
.sign-up {
  transition: all 0.1s;
  cursor: pointer;
}

.sign-up span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.sign-up span:after {
  content: "\00bb";
  color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sign-up:hover span {
  padding-right: 25px;
}

.sign-up:hover span:after {
  opacity: 1;
  right: 0;
}
/* !!!!!!!!!!!!!!!!!!!!!!!! NAVIGATION BAR FINISH!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
html {
  background: rgb(240, 229, 229);
}
.box {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  box-shadow: 0px 0px 4px 1px rgb(189, 186, 186);
  z-index: -1;
  animation: appear 0.7s ease forwards;
}
.welcome {
  text-align: center;
  position: absolute;
  margin-top: 35px;
  width: 100%;
  font-size: 65px;
  font-family: "Amiri";
  animation: appear 0.7s ease forwards;
}
input,
::placeholder,
.submit,
.forgot {
  font-family: "Amiri", sans-serif;
}

.email,
.password {
  width: 400px;
  height: 70px;
  margin-top: 47.4px;
  margin-left: 50px;
}
input {
  height: 70px;
  width: 400px;
  text-indent: 30px;
  background: rgb(221, 46, 3);
  border: 1px solid rgb(189, 186, 186);
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(221, 215, 215);
  font-weight: 400;
  font-size: 25px;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}
.password input,
.rep-password input {
  color: black !important;
}
input:focus {
  outline: none;
}
::placeholder {
  color: rgb(39, 37, 37);
  text-indent: 30px;
}
.submit {
  margin-top: 47.4px;
  margin-left: 150px;
  width: 200px;
  height: 70px;
  text-indent: 0px !important;
  transition: 0.7s ease;
  background: rgb(27, 27, 27);
  color: rgb(221, 46, 3);
  border: 1px solid rgb(189, 186, 186);
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 30px;
  animation: invisible 0.7s ease;
  -moz-box-shadow: inset 0 0 5px #9b9b9b;
  -webkit-box-shadow: inset 0 0 5px #9b9b9b;
  box-shadow: inset 0 0 5px #9b9b9b;
}
.submit:hover {
  background: rgb(221, 46, 3);
  color: rgb(27, 27, 27);
}
.forgot {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 47.4px;
  font-weight: 400;
  font-size: 30px;
  color: rgb(221, 46, 3);
}
.forgot:hover {
  color: rgb(27, 27, 27);
  cursor: pointer;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  70% {
    transform: translateY(13px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes invisible {
  0% {
    transform: translateX(145px);
  }
  100% {
    transform: translateY(0);
  }
}
